<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <title>{{ title }}</title>
  </head>
  <body>
      <ul>
          <li><a href="../boards.html">Boards</a></li>
      </ul>
      <hr>
      {% if board.boards |length > 0 %}
      <ul>
          {% for board in board.boards %}
          <li><a href={{ "../board/" + board |find_board_id + '_' + board.title |url_replacer + ".html" }}>{{ board.title }}</a></li>
          {% endfor %}
      </ul>
      <hr>
      {% endif %}
      <ul>
          {% for thread in board.threads %}
          <li><a href={{ "thread/" + thread.id + '_' + thread.title |url_replacer + ".html" }}>{{ thread.title }}</a></li>
          {% endfor %}
      </ul>
  </body>
</html>
