<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <title>{{ title }}</title>
  </head>
  <body>
      <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="users.html">Users</a></li>
      </ul>
      <hr>
      <ul>
          {% for board in boards %}
          <li>
              <a href={{ "board/" + board |find_board_id + '_' + board.title |url_replacer + ".html" }}>{{ board.title }}</a><br>
              <i>{{ board.description }}</i>
          </li>
          {% endfor %}
      </ul>
  </body>
</html>
