<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <title>{{ title }}</title>
  </head>
  <body>
      <ul>
          <li><a href={{ "../" + board |find_board_id + '_' + board.title |url_replacer + ".html" }}>{{ board.title }}</a></li>
      </ul>
      <hr>
      <h1>{{ thread.title }}</h1>
      {% for post in thread.posts %}
      <a href="#{{ loop.index }}">{{ loop.index }} </a><i>by </i>
      <a name="{{ loop.index }}" href={{ "../../user/" + post.user.name |url_replacer + ".html" }}>{{ post.user.name }}</a>
      <i>({{ post.timestamp | fromunixtime }})</i>
      <p>{{ post.message | tohtml }}</p>
      {% for attachment in post.attachments %}
        --<br>
        <a href="{{ attachment.url.replace('{{baseurl}}', 'static') }}">{{ attachment.name }}</a>
      {% endfor %}
      <hr>
      {% endfor %}
  </body>
</html>
