<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <title>{{ title }}</title>
  </head>
  <body>
      <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="boards.html">Boards</a></li>
      </ul>
      <hr>
      <ul>
          {% for user in users %}
          <li><a href={{ "user/" + user.name |url_replacer + ".html" }}>{{ user.name }}</a></li>
          {% endfor %}
      </ul>
  </body>
</html>
