<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="/styles.css" rel="stylesheet" type="text/css" />
        <title>{{ title }}</title>
    </head>
    <body>
        <ul>
            <li><a href="../users.html">Users</a></li>
        </ul>
        <hr>
        <h1>{{ user.name }}</h1>
        <h3>{{ user.status }}</h3>
        <p>
            {% if user.registered %} registered {{ user.registered | fromunixtime }} {% else %} unregistered {% endif %}
        </p>
        {% if user.signature %}
        <hr>
        <i>{{ user.signature | tohtml }}</i> {% endif %}
    </body>
</html>
